* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

body {
    background: url('https://kartinki.pics/pics/uploads/posts/2022-08/1660475704_1-kartinkin-net-p-ronaldu-oboi-krasivo-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1140px;
}

.welcome_container .welcome{
    margin-bottom: 200px;
}

.welcome {
    width: 100px;
    height: 100px;
    background: url('https://img.icons8.com/?size=96&id=WaqWKIMkdf06&format=png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    animation: translate 0.4s forwards;
    z-index: 2;
}

.welcome::after {
    position: absolute;
    bottom: 9px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    content: 'Welcome to site';
    background: yellow;
    width: 200px;
    height: 20px;
    animation: translate 0.8s forwards;
    z-index: 1;
}

@keyframes translate {
    0% {
        transform: translateX(-300px);
    }

    100% {
        transform: translateX(50px);
    }
}

.enter {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: black;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.enter:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.enter:active {
    color: white;
}

.enter:active:after {
    background: transparent;
}

.enter:hover:before {
    opacity: 1;
}

.enter:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.enter:hover {
    transform: scale(2, 2);
}

.loading {
    display: none;
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
}

.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
    margin-right: 0;
}

.dot:nth-child(1) {
    animation-delay: -0.3s;
}

.dot:nth-child(2) {
    animation-delay: -0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.1s;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }

    50% {
        transform: scale(1.2);
        background-color: #6793fb;
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }

    100% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
}

.html_container {
    padding: 40px 20px;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: all 1s;
    opacity: 0;
}

.opacity2 {
    animation: opacity 1s forwards;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

@keyframes pos {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.icon{
    width: 50px;
}

.twitch {
    display: flex;
}

.btn_header {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden; /* Для того, чтобы псевдоэлемент не выходил за пределы кнопки */
    background-color: #333; /* Цвет фона кнопки для лучшего визуального эффекта */
    color: #fff; /* Цвет текста на кнопке */
    margin-left: 10px;
}

.btn_header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    background-color: white; /* Цвет фона псевдоэлемента для демонстрации эффекта */
    transition: width 0.3s; /* Плавный переход ширины */
    mix-blend-mode: difference; /* Используем mix-blend-mode, чтобы псевдоэлемент изменял цвет фона кнопки */
}

.btn_header:hover::before {
    width: 100%;
}

.search_inp {
    left: 5%;
    margin-right: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
    width: 400px;
}

/* body */

.body {
    background: white;
    border-radius: 5px;
    margin-top: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.players {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.contents {
    font-family: sans-serif;
}

.text {
    margin-bottom: 20px;
}

.content_descripton {
    color: gray;
    font-size: 18px;
}

.descriptions {
    margin: 25px 0;
}

.description{
    margin-bottom: 10px;
}